.admin-body
    // display: flex
    // justify-content: center
    // flex-direction: column
    width: 1400px
    margin-left: auto
    margin-right: auto
    padding: 20px 0
    .game-table-container
        display: flex
        justify-content: center
        flex-direction: column
        -webkit-box-shadow: 0px 0px 1px 0px rgba(115,115,115,1)
        -moz-box-shadow: 0px 0px 1px 0px rgba(115,115,115,1)
        box-shadow: 0px 0px 1px 0px rgba(115,115,115,1)

    .table-top
        margin: 10px 0px
        padding-bottom: 15px
        font-weight: 700
        border-bottom: 1px solid #e8e8e8

        & > *
            display: inline-block

        &__title
            margin-left: 20px
            width: 240px

        &__release
            width: 180px

        &__description
            width: 288px

        &__user-rating
            width: 75px
        
        &__critic-rating
            width: 73px

        &__studio
            width: 230px

        &__publisher
            width: 240px

    .game-add-button
        background-color: green
        color: white
