.add-new-game-form
    > *
        margin-top: 20px
    .form-first-row
        display: flex
        justify-content: space-between

    .game-title-input
        width: 400px
        resize: none
        height: 26px
        font-size: 16px
        white-space: nowrap
        padding: 0 5px
        padding-top: 10px

    .game-description-input
        width: 895px
        max-width: 895px
        min-width: 400px
        height: 200px
        max-height: 500px
        min-height: 100px

    .game-release-input
        padding: 0 10px
        height: 34px 
        width: 74px 

    .game-critic-rating-input
        width: 40px
        font-size: 24px