.text-input
    border: 1px solid #e6e6e6
    background-color: #FFF
    border-radius: 4px
    height: 38px
    -webkit-transition: border-color 0.25s ease
    transition: border-color 0.25s ease
    padding: 0 0 0 0
    position: relative
    display: flex
    padding: 5px
    overflow: hidden
    box-sizing: border-box
    cursor: text


    &.single-line
        resize: none
        height: 26px
        font-size: 16px
        white-space: nowrap

    &.resizable
        resize: both

    &.unresizable
        resize: none